<mat-toolbar color="primary">
  <mat-toolbar-row>
    Header
  </mat-toolbar-row>
  <mat-toolbar-row class="navbar">
      <!-- <nav mat-tab-nav-bar backgroundColor="primary"> -->
      <span><button mat-button routerLinkActive="list-item-active" routerLink="/">Home</button></span>
      <span><button mat-button [matMenuTriggerFor]="aboutmenu">About</button></span>
      <mat-menu #aboutmenu="matMenu" xPosition="after">
        <button mat-menu-item (click)="goToSection('/about', 'SO')">Services Offered</button>
        <button mat-menu-item (click)="goToSection('/about', 'SB')" >Staff Bios</button>
        <button mat-menu-item (click)="goToSection('/about', 'BOD')" >Board of Directors</button>
      </mat-menu>
      <span><button mat-button routerLinkActive="list-item-active" routerLink="/donate">Donate</button></span>
      <span><button mat-button routerLinkActive="list-item-active" routerLink="/contact">Contact Us</button></span>
      <span><button mat-button routerLinkActive="list-item-active" routerLink="/involved">Get Involved</button></span>
      <span><button mat-button routerLinkActive="list-item-active" routerLink="/informed">Get Informed</button></span>
      <!-- </nav> -->
  </mat-toolbar-row>
  <mat-divider></mat-divider>
</mat-toolbar>
