<mat-card>
  <h2>
    About The Tuscaloosa Children's Center
  </h2>
  <mat-card-content>
    <p>
      In 1988, the founding Board of Directors under the leadership of the Office of the District Attorney established
      Tuscaloosa County's Child Advocacy Center. The center is modeled after the National Children's Advocacy Center in
      Huntsville, Alabama. TCC provides forensic interviews and counseling for child abuse victims in a safe and
      comfortable environment. TCC holds membership with the Alabama Network of Child Advocacy Centers. Free counseling
      services have been provided since 1995 and TCC hired its first Forensic Interviewer in April of 2005. In 2016, TCC
      hired its first Parent Coordinator.
    </p>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<mat-card>
  <h2>
    Services Offered
  </h2>
  <h4>
    Forensic Interviews
  </h4>
  <mat-card-content>
    <p>
      A primary goal of TCC is to reduce the number of times a child has to tell his/her story of abuse. Child abuse
      victims are interviewed in our child friendly facility to reduce the stress associated with multiple interviews,
      and to help victims feel as comfortable as possible. Usually, the number of interviews conducted with each victim
      is reduced to only one recorded session. TCC has an on staff well-trained forensic interviewer who specializes in
      taking testimony of children using non-suggestive techniques. Having a knowledgeable, neutral interviewer speaking
      with the child helps to provide a more accurate, consistent account of the abuse from the child victim. The
      information can then be used in a variety of situations: court proceedings, details for the Department of Human
      Resources, police recordings, medical examiners and counselors.
    </p>
  </mat-card-content>

  <h4>
    Multi-disciplinary Case Investigation & Review
  </h4>
  <mat-card-content>
    <p>
      Child abuse cases are reviewed and monitored by a team of professionals who meet regularly from law enforcement,
      the Department of Human Resources, the District Attorney's Office, mental health, medicine, local city and county
      schools, and the Tuscaloosa Children's Center. Multi-disciplinary team members work together to gather evidence,
      share information, investigate charges of sexual and/or severe physical abuse, and to prepare cases for
      prosecution. Team members collaborate on strategies that will aid investigators and prosecutors without causing
      further harm to the child. This innovative multidisciplinary approach significantly increases the likelihood of a
      successful outcome in court and ensures that the child’s needs are met.
    </p>
  </mat-card-content>

  <h4>
    Forensic Medical Exams
  </h4>
  <mat-card-content>
    <p>
      Any child or adolescent who discloses any type of abuse needs a medical check up. Regardless of how long ago the
      assault occurred, it is important that child and adolescent victims receive a check up to ensure that they are
      healthy. A forensic medical exam is a complete physical conducted by a medical professional specially trained in
      all forms of child abuse. These specialized medical examinations are designed to gather information about the
      nature and extent of the abuse. TCC's Child & Family Advocate ensures that the child is scheduled for a medical
      exam. She makes the appointment and accompanies the child and family to the medical exam.
    </p>
  </mat-card-content>

  <h4>
    On-Site Counseling
  </h4>
  <mat-card-content>
    <p>
      Child victims and their non-offending family members are provided counseling services at the Tuscaloosa Children's
      Center and referrals to off-site counselors as requested. A variety of therapy approaches are used during
      individual, family, and group counseling. Every effort is made to create a safe and supportive environment. For
      parents/caretakers, counselors will explain the emotional and behavioral dynamics associated with the child’s
      abuse experience and develop a long-term plan for the child.
    </p>
  </mat-card-content>

  <h4>
    Victim Services
  </h4>
  <mat-card-content>
    <p>
      Services are provided to victims of child abuse and their families including, but not limited to: providing
      information concerning victim’s rights and compensation, providing accompaniment to medical exams and/or judicial
      proceedings, and providing referrals to community resources.
    </p>
  </mat-card-content>

  <h4>
    Court Preparation
  </h4>
  <mat-card-content>
    <p>
      Appearing in court can be a stressful experience for anyone. For a child abuse victim, the court process can be
      especially traumatizing. Some victims can have a feeling of further victimization by a court system that is
      unfamiliar to them. As a prevention measure, child abuse victims are escorted to the courtroom before the
      proceeding in order to get familiarized with the activities in the courtroom. This can assist the child abuse
      victim in being more comfortable, relaxed, and prepared to participate in court.
    </p>
  </mat-card-content>

  <h4>
    Community Programming
  </h4>
  <mat-card-content>
    <p>
      Awareness and prevention programming is offered through TCC for Tuscaloosa County and surrounding areas.
    </p>
  </mat-card-content>
</mat-card>
