<mat-card>
  <mat-card-content>
    <p>
      Welcome to The Tuscaloosa Children's Center, Inc. (TCC)! For more than 30 years, TCC has been providing services
      to
      child abuse victims and their supportive, non-offending caregivers. Our agency operates in a child friendly
      facility
      where multidisciplinary team members work together to ensure that families receive the necessary services and we
      are
      the only agency in Tuscaloosa County that provides these specialized counseling services for child victims of
      sexual
      and/or severe physical abuse. Our goal is to ensure that child abuse victims will receive the services, advocacy
      and
      support needed to live happy, healthy and productive lives. The services provided by our agency are sustainable,
      effective interventions that change the course of a child’s future.
    </p>

    <p>
      In 2018 our agency launched a capital campaign to raise money in efforts to acquire a new property. After a very
      successful capital campaign, our agency amassed several pledged gifts since establishing the funding goal and was
      able
      to purchase a new property in May 2019. In December 2019, our agency relocated to our new building at 2901 7th
      Street
      Tuscaloosa, AL 35401. The good news is that we are only a block away from our old location!
    </p>

    <p>
      The Tuscaloosa Children’s Center, Inc. wishes to express our sincere gratitude to everyone who donated to our
      child
      advocacy center during our capital campaign. Your donation will have a transformational and lasting impact on the
      lives of Alabama’s smallest victims of crime for years to come. We take great pride in our mission, and with your
      support, we can continue to provide valuable services to the children across the state of Alabama. Thank you again
      for
      your generosity and we look forward to partnering with you in the future as we work together to improve the lives
      of
      the children.
    </p>
  </mat-card-content>

</mat-card>
